
extends layout

block append body
    br
    .container
        .jumbotron
            .row.justify-content-center
                .col-xs-4

                    +panel-primary("Les scéances de vos activités")
                        p
                            table.table-striped
                                each activite in listeDesActivites
                                    tr
                                        td
                                            a(href='/activiteInscrit/'+activite.id+'/seances') #{activite.designation}



    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine
