extends layout

block append body

    br
    .container
        // Component Jumbotron
        .jumbotron
            p.lead
                | Des places sont peut-être encore disponibles pour vos activités
            p
                a.btn.btn-lg.btn-success(href='/index/'+user['numsecu']+'/activiteInscrit', role='button') Consulter

        // Example row of columns
        //.row
            .col-lg-6.justify-content-center
                h3 Contre-temps de dernière minute
                p.text-danger
                    | Si vous ne pouvez pas vous rendre à une séance,
                p
                    | vous pouvez annuler votre participation ...
                p
                    a.btn.btn-primary(href='#', role='button') Annuler une séance »
            .col-lg-6
                h3 Programme Sport-Santé
                p
                    a.btn.btn-primary(href='#', role='button') Plus d'informations »
    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine