extends layout

block append body
    br
    .container
        h1 Vous etes maintenant inscrit a l'activité

    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine