extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-8
                +panel-primary("Vos information")
                    br
                    each senior in listeSenior
                        tr
                            td #{senior.unNumSecu}
                            br
                            br
                            td #{senior.unNom}
                            br
                            br
                            td #{senior.uneDateNaissance}
                            br
                            br
                            td #{senior.unEmail}
                            br
                            br
        .row.justify-content-center
            .col-xs-4
                +panel-primary("Vos Activités")
                    br
                    each activite in listeDesActivites
                        tr
                            td #{activite.designation}
                            br
                            br


    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine