extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-4
                +panel-primary("Vos Activités")
                    br
                    form(method='POST', action='/programmeSante/retracter')
                        each activite in listeDesActivites
                            div
                                input(type='radio' name='retracter' value = activite.id)
                                label #{activite.designation}
                        br
                        br
                        input(type='submit' value="se rétracter")

            .col-xs-6
                +panel-primary("Activités Disponible")
                    form(method='POST', action='/programmeSante/inscrire')
                        each activite in listeDesActivitesDispo
                            div
                                input(type='radio' name='inscrit' value = activite.id)
                                label #{activite.designation}
                        br
                        br
                        input(type='submit' value="s'inscrire")

    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine