extends layout

block append body
    br
    .container
        .jumbotron
            .row.justify-content-center
                .col-xs-6

                    +panel-primary("Vos seances")
                        p
                            table.table-striped
                                each seances in listeDesSeances
                                    tr
                                        td #{seances.DateSeance}


    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine